* {
  font-family: Garamond, Tahoma;
}

body {
  background-color: #ffffff;
  padding: 10px;
}

#main {
  width: 98%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  margin: auto;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 2em;
}

.subtitle {
  margin-top: -10px;
  font-size: 1.1em;
}

#img-div {
  display: flex;
  height: auto;
  width: 96%;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 2px;
  object-position: center;
}

#image {
  height: auto;
  width: 70%;
  max-width: 100%;
  display: block;
  position: relative;
  margin: 10px auto;
}

#img-caption {
  margin: 0 auto 5px auto;
  font-size: 1.1em;
}

.divider {
  border: 2px solid black;
  width: 70%;
  margin: 10px auto;
}

#tribute-info {
  height: auto;
  width: 70%;
}

.tribute-point {
  font-weight: bold;
  font-size: 1.3em;
}

.lists {
  list-style: none;
}

.details {
  padding-left: 10px;
}

.longtext {
  font-size: 1.1em;
}

.quote {
  font-style: italic;
  font-size: 1.3em;
  width: 90%;
  text-align: center;
}

.gallery-container {
  width: 90%;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  overflow-x: scroll;
  border-radius: 3px;
  /* margin: 0px 10px; */
}

.gallery-image {
  height: 250px;
  padding: 10px 5px;
  border-radius: 12px;
}

.gallery-image:first-of-type {
  margin-left: 5px;
}

.gallery-image:last-of-type {
  margin-right: 5px;
}

#topic {
  text-align: center;
  font-size: 2em;
  padding-top: 25px;
}

#footer-text {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

a {
  color: #29497a;
}

@media (min-width: 1000px) {
  #tribute-info {
    width: 50%;
  }

  .divider {
    width: 50%;
  }
}
